# Config file for OMyFuckingCode
#
# Syntax is defined here : http://hackage.haskell.org/packages/archive/configurator/latest/doc/html/Data-Configurator.html
# DO NOT USE LIST, they are not supported by the application


# in this blocks put all the application parameters stuff
application {
    debug = true
}


# in this block, put all the EPITA coding style constraints
rules {

    # formatting rules
    format {
        max_column = 80
        max_function_per_file = 4 #notImplementedYet
        max_function_size = 25
        max_file_size = 250
    }
}